.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 70vh;
}

.container div{
    text-align: center;
    display: flex;
    justify-content: center;
}
.container button{
    margin: 0;
}

.container img{
    animation: shake 1s ease infinite;
}

@keyframes shake {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg);

    }
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 1px solid rgba(0, 0, 0, 0.218);
    padding: 1.5rem 2rem;
    margin-left: 3rem;
    font-family: var(--main-font);
}

.wrapper h1{
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.race_flag{
    height: 2rem;
    margin-bottom: 1rem;
}

.wrapper p{
    margin-top: 1rem;
    width: 225px;
}

